*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
}

body{
    background-color: #d8d2d2;
}


.profile{
    width: 400px;
}





#projects_cards{
    margin: 180px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 60px;
    
}

.card_project{
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: solid 0.5px rgb(177, 177, 177);
    margin-bottom: 30px;
}

.img_project{
    width: 100%;
    height: 120px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-shadow: #d8d2d2;
    position: cover;
    -webkit-box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.19); 
    box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.19);
}

.text_project{
    margin: 30px;
    height: 70px;
    text-align: justify;
}

.links_first{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.links_last{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

h5{
    font-size: 13px;
}

h6{
    font-size: 11px;
}

.button_project{
    width: 120px;
    background-color: rgb(0, 32, 80);
    color: white;
    border: none;
    border-radius: 6px;
    height: 30px;
    text-align: center;
}

.spin{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

@media (max-width:600px){
    #projects_cards{
        margin: 0px;
        padding: 0px;
    }
    .card_project{
        width: 90%;
        margin-top: 50px;
    }
}