*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
}

body{
    background-color: #ebebeb;
}


main{
    background-color: #ebebeb;
}

.profile{
    width: 400px;
}




@media (max-width: 767px){
    *{
        text-align: justify;
    }

    .col-md-6{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    main{
        margin-top: 0px;
        padding-top: 0px;
    }


}

